<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>자리난지</string>
	<key>CFBundleName</key>
	<string>자리난지</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.95862729273-8mf1qha3pug7k8jerj9g1rp288sfi8jv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaodb0e4509a7ad197cdad36cbfc17df099</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 바탕으로 대체 주차장까지의 거리와 예상 이동 시간을 계산하기 위해 위치 정보가 필요합니다.</string>
</dict>
</plist>
